<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/static/css/main.css') }}"/>
    <title>Password Checker - Check</title>
</head>
<body>
    <div id="title">
        <h2>Password Checker</h2>
    </div>
    <div id="checker">
        <div class="container">
            <div class="instructions">
                <p>Test your password and see if it is as stong as </br>
                the Great Wall of China !</p>
            </div>
            <form action="/check" method="post" class="password-form">
                <label for="password">Enter your password:</label>
                <input type="password" id="password" name="password" placeholder="Type your password here" required>
                <button type="submit" class="check-button">Check</button>
            </form>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/" class="button">Home</a></li>
                    <li><a href="/check" class="button">Check Password</a></li>
                    <li><a href="https://github.com/MathisDS15/Password-Checker" class="button">GitHub</a></li>
                    <li><a href="/help" class="button">Help</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>